* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Abel", sans-serif;
  height: 100%;
}

ul {
  list-style: none;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.post {
  color: black;
}

.post__title {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 2.2rem;
  color: #12b9b4;
  margin-top: 15px;
  text-transform: uppercase;
}

.post__text {
  padding: 20px 0;
  font-size: 1.3em;
}

.post__text + .post__text {
  padding-top: 0;
}

.galery__img {
  max-width: 100%;
}

.menu {
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 5px #002626;
  background-color: #119995;
}

.menu__item {
  transition: 1s;
  height: 60px;
  width: 100%;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
}
.menu__item a {
  color: black;
  font-family: "Abel", sans-serif;
  width: 100%;
  padding-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #e5e5e5;
}
.menu__item a:hover {
  text-decoration: underline;
  transition: 1s;
}
@media (min-width: 768px) {
  .menu__item a {
    font-size: 2rem;
    padding-top: 10px;
  }
}

.menuitem--active {
  background-color: #01726F;
}

.banner {
  width: 100%;
  height: 20vh;
  background-image: url("../img/portada.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}
@media (min-width: 768px) {
  .banner {
    height: 35vh;
  }
}
@media (min-width: 1024px) {
  .banner {
    background-position-y: -15%;
    height: 40vh;
  }
}
@media (min-width: 1200px) {
  .banner {
    background-position-y: -20%;
    height: 50vh;
  }
}

.post {
  padding: 5%;
  width: 80%;
  margin: 30px auto;
  background-color: white;
  box-shadow: 2px 2px 10px #00000042;
}
@media (min-width: 768px) {
  .post {
    width: 50%;
  }
}
.post ul {
  list-style: circle;
  margin: 5%;
}

.first-post {
  margin-bottom: 0;
}

.contLogo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 75px;
  height: 75px;
  background-color: #4C5751;
  box-shadow: 0px 0px 20px #12b9b4;
  border-radius: 50%;
  border: 5px solid #61ccc9;
  position: absolute;
  top: 22%;
  background-image: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .logo {
    width: 125px;
    height: 125px;
    top: 38%;
  }
}
@media (min-width: 1024px) {
  .logo {
    top: 42%;
  }
}
@media (min-width: 1200px) {
  .logo {
    top: 52%;
  }
}

.wrapper {
  background-image: url("../img/pagina_bloc.png");
  background-size: contain;
}

.header {
  width: 100% !important;
  margin-bottom: 10%;
}

.project__cont {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .project__cont {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.project__cont div {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .project__cont div {
    max-width: 45%;
  }
}

.contVideo {
  margin-top: 5%;
}
@media (min-width: 768px) {
  .contVideo {
    display: flex;
    align-content: center;
  }
}

.render {
  max-width: 100%;
}

.contDescription {
  box-sizing: border-box;
  padding: 5% 0;
  font-size: 1.2rem;
}

.project-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hide {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
