.contLogo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo{
  width: 75px;
  height: 75px;
  background-color: #4C5751;
  box-shadow: 0px 0px 20px #12b9b4;
  border-radius: 50%;
  border: 5px solid #61ccc9;
  position: absolute;
  top: 22%;
  background-image: url('../img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-width: $breakpoint-md) {
    width: 125px;
    height: 125px;
    top: 38%;
  }
  @media (min-width: $breakpoint-lg) {
    top: 42%;
  }
  @media (min-width: $breakpoint-xl) {
    top: 52%;
  }
}