.post {
  padding: 5%;
  width: 50%;
  margin: 30px auto;
  background-image: url('../img/periodico2.jpg');
  background-size: contain;
  box-shadow: 2px 2px 10px #00000042;
}

.first-post {
  margin-bottom: 0;
}