.post {
  color: black;
}

.post__title {
  font-family: $Quicksand;
  font-weight: bold;
  font-size: 2.2rem;
  color: #12b9b4;
  margin-top: 15px;
  text-transform: uppercase;
}

.post__text {
  padding: 20px 0;
  font-size: 1.3em;
}

.post__text + .post__text {
  padding-top: 0;
}