.project__cont {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  div {
    width: 90%;
    margin: 0 auto;

    @media (min-width: $breakpoint-md) {
      max-width: 45%;
    }
  }
}

.contVideo {
  margin-top: 5%;

  @media (min-width: $breakpoint-md) {
    display: flex;
    align-content: center;
  }
}

.render {
  max-width: 100%;
}

.contDescription {
  box-sizing: border-box;
  padding: 5% 0;
  font-size: 1.2rem;
}

.project-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hide {
  display: none;
}